---
author: chxt6896
desc: 分享技术实践，创业历程
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
   	<title>{{ page.title }}</title>
   	<meta name="author" content="浩宇啸天" />
		
		<link href="http://feeds.feedburner.com/tom-preston-werner" rel="alternate" title="Tom Preston-Werner" type="application/atom+xml" />
   	<link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" />	
		<link rel="stylesheet" href="/css/default.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/css/global.css" type="text/css" media="all" />
			
		<script type="text/javascript" src="/js/yahoo.js"></script>
		<script type="text/javascript" src="/js/global.js"></script>	
		<script type="text/javascript" src="/js/calendar.js"></script>		
	</head>

	<body>
		<div id="header_wrapper">
			<div id="nav_background">
      	<div id="navigation">
        	<ul>
          	<li class="menu"><a href="http://chxt6896.github.com">home</a><a id="about-toggle" href="#">about</a><a id="archive-toggle" href="#">archive</a><a id="contact-toggle" href="#">contact</a></li>
        	</ul>
				</div>
				<div class="clear_float"></div>
			</div>
			<div id="header">
				<h1><a href="#">浩宇啸天要吃武昌鱼</a></h1>
				浩宇啸天 MISS 武昌鱼
				<table>
					<tr>
						<td><a href="http://weibo.com/chxt6896" id="weibo" style="display:none" target="_blank"><img src="/images/sina.png" /></a></td>
						<td><a href="https://github.com/chxt6896" id="github" style="display:none" target="_blank"><img src="/images/Octocat.png" /></a></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="background_container">
			<div id="content_container">
				<div id="container">
					<div id="archive_posts" style="display:none">
						<ul>
		    			{% for post in site.posts limit:5 %}
		      			<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		    			{% endfor %}
		  			</ul>
					</div>
					
					{{content}}
					
				</div>
				<div class="sidebar">
					<ul>
						<li>
							<form method="get" action="http://www.google.com/search" target="google_window">
								<label class="hidden" for="s">Search...</label>
								<div>	
				    			<input type="text" value="Search..." name="q" id="s" onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}">
				    			<input type="submit" name=”btnG” id="searchsubmit" value="">
								</div>
								<input type="hidden" name="ie" value="UTF-8″ />
								<input type="hidden" name="oe" value="UTF-8″ />
								<input type="hidden" name="hl" value="zh-CN" />
								<input type="hidden" name="domains" value="http://chxt6896.github.com" />
								<input type="hidden" name="sitesearch" value="http://chxt6896.github.com" />
							</form>
							<h2>Calendar</h2>
								<script language="javascript" type="text/javascript">
									calendar();
								</script>
							<h2>Categories</h2>
								<ul>
									{% for category in site.categories %}
									<li class="cat-item cat-item-{{category | last | size }}"><a href="/category/{{category | first}}/{{category | first}}.html" title="View all posts filed under {{category | first}}">{{category | first}} ({{category | last | size }})</a></li>
									{% endfor %}
								</ul>
							<div id="recentcomments" class="dsq-widget">
								<h2 class="dsq-widget-title">Recent Comments</h2>
								<script type="text/javascript" src="http://chxt6896.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=200"></script>
							</div>
							<h2>Archives</h2>
								<ul>
									{% for post in site.posts %}
										{% capture the_year %}
											{{ post.date|date:"%Y" }}
										{% endcapture %}
										{% capture previous_year %}
											{{ previous_post.date|date:"%Y" }}
										{% endcapture %}
	
								    {% if the_year != previous_year %}
								      {% assign year_changed = true %}
								    {% else %}
								      {% assign year_changed = false %}
								    {% endif %}
							      {% if year_changed %}
							        <li><a href="/archive/{{the_year}}/{{the_year}}.html">{{ the_year }}</a></li>
							      {% endif %}
									  {% assign previous_post = post %}
									{% endfor %}
								</ul>
							<h2>Links</h2>
								<ul>
									<li><a href="http://coolshell.cn">CoolShell</li>
									<li><a href="http://mindhacks.cn">刘未鹏|MIND HACKS</li>
									<li><a href="<ul><a href="http://coolshell.cn">阮一峰的网络日志</li>
								</ul>
						</li>        
					</ul>
				</div>	
				<div class="clear_float"></div>
			</div>		
		</div>
		<script type="text/javascript" defer>if(VeryCD.gotop) VeryCD.gotop.ini();</script>
		<div id="footer">
    	<p class="credit">Theme by <a href="http://everythingisgray.com/">James Barclay</a></p>
    	<p class="legal">Copyright 2011<a href="http://everythingisgray.com">Everything is Gray</a></p>
    	<p>&nbsp;</p>  
		</div>
	<a href="http://github.com/chxt6896"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
	<script type="text/javascript" src="/js/prettify.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		// google-code-prettify
		prettyPrint();
		
		$('a#about-toggle').click(function() {
			$('#header').slideToggle(400);
			return false;
		});
		
		$('a#contact-toggle').click(function() {
			$('#weibo').slideToggle(400);
			$('#github').slideToggle(400);
			return false;
		});
		
		$('a#archive-toggle').click(function() {
			$('#archive_posts').slideToggle(400);
			return false;
		});
	});
	</script>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = 'chxt6896'; // required: replace example with your forum shortname
	
	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function () {
	        var s = document.createElement('script'); s.async = true;
	        s.type = 'text/javascript';
	        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
	        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	    }());
	</script>
	</body>
</html>